<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>mic</mat-icon>
  </button>
  <span>The Podville App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group color="primary" backgroundColor="accent" dynamicHeight [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClick($event)">
  <!-- Welcome Tab -->
  <mat-tab label="Welcome">
    <div style="padding: 50px;">
      <h1>Welcome to {{title}}</h1>
      <p>Your latest video conferncing app that allow you to broadcast your content</p>
      <p>Enter the below information to proceed as Host or Listener. (Max 2 Hosts, only Josh and John can be host..auth based on name string validation)</p>

      <mat-label>Enter you namt to proceed Name: </mat-label>
      <input matInput type="text" [(ngModel)]="name">

      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="toHost()">Enter as Host =>></button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="toListener()" >Enter as Listener =>></button>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-tab>

  <!-- Hosts Tab -->
  <mat-tab label="Hosts" [disabled]="authChecker('host')">
    <div style="padding: 50px;">
      <h1>Welcome Host: {{name}}!</h1>
      <p>Conference ID: {{conferenceName}}</p>
      <button style="margin:5px;" mat-raised-button color="warm" (click)="leaveSession()">Leave Call</button>
      <button style="margin:5px;" mat-raised-button color="warm" (click)="!videoEnabled ? startVideo() : leaveVideo();">{{!videoEnabled ? 'Start Video' : 'Stop video'}}</button>
    </div>
  </mat-tab>

  <!-- Listener Tab -->
  <mat-tab label="Listeners" [disabled]="authChecker('list')">


  </mat-tab>
</mat-tab-group>

<!-- Video Feeds -->
<div style="padding: 10px;" [hidden]="!callJoined" id="video-container"></div>
<div style="padding: 10px;"[hidden]="!callJoined" id="screenshare-container"></div>
<div style="padding: 10px;" [hidden]="!callJoined" id="participants">
  <h3>Participants</h3>
  <ul id="participants-list"></ul>
</div>
